
@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Index";
}

<h2>Roles Listing </h2>

@Html.ActionLink("Create New Role", "Create") | @Html.ActionLink("Manage User Role", "ManageUserRoles")
<hr />
<style>
    .test {
        border: 3px solid #020202;
        border-radius: 4px;
        background-color: cadetblue
    }
</style>
<div>
    @foreach (var role in Model)
    {
    <p>
        <strong>@role.Name | </strong>
        <span onclick="return confirm('Are you sure to delete?')"><a href="/Roles/Delete?RoleName=@role.Name" class="delLink" style="color:red; border-radius: 4px; background-color: #e9ecef;">Delete</a></span> |
        @*@Html.ActionLink("Edit", "Edit", new { roleName = @role.Name })*@
        <a href="@Url.Action("Edit", "Roles", new { roleName = @role.Name } )" class="btn btn btn-lg" style="color:cadetblue;  border: 2px solid #020203; border-radius: 4px; background-color: #e9ecef">
            <i class="fa fa-pencil-square" aria-hidden="true" ></i>
            <span>Edit</span>
        </a>
    </p>
    }
</div>